@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

body {
  background-color: #1d2021;
  font-family: "IBM Plex Sans";
  color: #8ec07c;
}

a {
  color: #8ec07c;
}

a:hover {
  color: #458588;
}
